<header>
  <div class="header-container">
    <div class="logo">
      <img src="../../../../assets/img/saleback.png" routerLink="home" alt="logo">
      <div class="title">
        <h2>SALEBACK</h2>
      </div>
    </div>
    <nav>
      <button routerLink="home">Home</button>
      <button routerLink="shop">Shop</button>
      <button routerLink="auth/login" *appShowAuthed="false">Log in</button>
      <button routerLink="profile/{{currentUser.username}}" *appShowAuthed="true">Profile</button>
    </nav>
  </div>
</header>