<header>
  <div class="header-container">
    <img src="../../../../assets/img/Logo_sm.png" routerLink="home" alt="logo">
    <nav>
      <button routerLink="home">Home</button>
      <button routerLink="shop">Shop</button>
      <button routerLink="auth/login" *ngIf="!is_loged">Log in</button>
      <button routerLink="settings" *ngIf="is_loged">Settings</button>
      <!-- <button routerLink="profile/{{user.username}}" *ngIf="is_loged">Profile</button> -->
      <button *ngIf="is_loged" (click)="logout()">Log out</button>
    </nav>
  </div>
</header>