<div>
    <div *ngIf="!product">No product</div>
    <div class="product" *ngIf="product">
        <figure class="snip1423">
            <!-- <img src="../../../assets/img/products/duke.jpg" alt=""> -->
            <h3>{{product.name}}</h3>
            <div class="price">{{product.price}}€</div>
            <div class="price">{{product.author.username}}</div>
        </figure>
        <div class="product_like">
            <app-favorite-button [product]="product"></app-favorite-button>
        </div>
    </div>

    <div class="comments-section">
        <app-comments *ngFor="let comment of comments" [comment]="comment" (deleteComment)="delete_comment(comment)"></app-comments>
        <div class="create-comment" *appShowAuthed="true"> 
            <form (ngSubmit)="create_comment()">
                <div class="comment-new">
                    <div class="comment-avatar-container">
                        <img class="comment-avatar" src={{user_image}}/>
                    </div>
                    <fieldset [disabled]="isSubmitting">
                        <textarea class="comment-textarea" name="enter-comment" placeholder="Write a comment..." [formControl]="commentControl"></textarea>
                        <div class="comment-actions">
                            <button class="post" type="submit">COMMENT</button>
                            <button class="cancel" type="button">CANCEL</button>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
                
                <!-- <img  class="d-flex g-width-50 g-height-50 rounded-circle g-mt-3 g-mr-15" src="{{user_image}}" alt="Image Description"> -->
                <!-- <h1>hola</h1> -->
                <!-- <div class="media-body u-shadow-v18 bg-primary g-pa-30">
                    <form (ngSubmit)="addComment()">
                        <fieldset [disabled]="isSubmitting">
                        <textarea class="form-control ml-1 shadow-none textarea" placeholder="Write a comment..." rows="3" cols="50" [formControl]="commentControl"></textarea>
                        <div class="mt-2 text-right"><button class="btn btn-light text-primary btn-sm shadow-none" type="submit">Post comment</button><button class="btn btn-outline-light btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                        </fieldset>
                    </form>
                </div> -->
</div>