.shop-page {
  width: 100%;
  margin-top: 2%;
  /* min-height: 100vh; */
}

.container_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filters {
  float: left;
  margin-left: 1%;
  width: 25%;
  border: 3px #333 solid;
  border-radius: 10px;
  padding: 10px;
}

.container_list_products {
  float: right;
  margin-right: 1%;
  width: 70%;
}

.no_products {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 20px;
}

.pagination {
  text-align: center;
  display: flex;
  list-style: none;
  border-radius: 0.25rem;
}

.pagination nav {
  display: block;
  margin: auto;
  margin-top: 4%;
}

.item {
  display: block;
  border: 3px #333 solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 2%;
}